<div class="row">
    <div class="medium-4 columns">
        <h3>Real life experience</h3>

        <p>Life lessons, physical fitness, mental focus, self discipline,
            confidence and leadership skills - real life experience!</p>
    </div>
    <div class="medium-4 columns">
        <h3>Physical Fitness</h3>

        <p>Vigorous and challenging workouts through conditioning exercises, involving
            the entire body - quickness, strength, flexibility, and endurance.</p>
    </div>
    <div class="medium-4 columns">
        <h3>Mental Discipline</h3>

        <p>Learn to set and achieve personal goals. You will gain confidence by becoming physically fit &amp;
            mentally sharp.</p>
    </div>
</div>