<div class="row">

    <div class="stacked-for-small button-group large">
        <a class="button" data-toggle="lesson1">Domestic Hardwoods</a>
    </div>

    <div id="lesson1" class="medium-4 columns lessons" data-toggler=".content-toggle-lessons">
        <p>Text that describes an item goes here.  Text that describes an item goes here.  Text that describes an item goes here.</p>
    </div>

    <div class="stacked-for-small button-group large">
        <a class="button" data-toggle="lesson2">Exotic Hardwoods</a>
    </div>
    <div id="lesson2" class="medium-4 columns lessons" data-toggler=".content-toggle-lessons">
  <p>Text that describes an item goes here.  Text that describes an item goes here.  Text that describes an item goes here.</p>
    </div>

    <div class="stacked-for-small button-group large">
        <a class="button" data-toggle="lesson3">Featured Collections</a>
    </div>
    <div id="lesson3" class="medium-4 columns lessons" data-toggler=".content-toggle-lessons">
         <p>Text that describes an item goes here.  Text that describes an item goes here.  Text that describes an item goes here.</p>
    </div>
</div>


<script>
    $(document).ready(function () {
        var lesson1 = new Foundation.Toggler($('#lesson1'));
        var lesson2 = new Foundation.Toggler($('#lesson2'));
        var lesson3 = new Foundation.Toggler($('#lesson3'));
    });
</script>