{% load pages_tags define_variable %}
        {% for page in page_branch %}
            {% if page.in_menu %}
                {% if page.is_current_or_ascendant or not page.is_primary %}

                        {% if not page.is_primary and page.is_current_child %}

                        {% define page.html_id as html_id_context %}

                            <div class="panel-heading" role="tab" id="leftnav-{{ page.html_id }}">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#panel-{{ page.html_id }}"
                                       aria-expanded="true" aria-controls="panel-{{ page.html_id }}">
                                        {{ page.title }}
                                    </a>
                                </h4>
                            </div>


                        {% elif branch_level != 0 %}


                            <div id="panel-{{ html_id_context}}" class="panel-collapse collapse in" role="tabpanel"
                                 aria-labelledby="leftnav-{{ html_id_context }}">
                                <div class="panel-body">
                                     <a href="{{ page.get_absolute_url }}">{{ page.title }}</a>
                                </div>
                            </div>

                        {% endif %}

                        {% page_menu page %}

                {% endif %}
            {% endif %}
        {% endfor %}
