/* Apper */
html,
body {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}

hr {
    border-color: #F05F40;
    border-width: 3px;
    max-width: 50px;
}

hr.light {
    border-color: white;
}

a {
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
    color: #F05F40;
}

a:hover,
a:focus {
    color: #eb3812;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.bg-primary {
    background-color: #F05F40;
}

.bg-dark {
    background-color: #222222;
    color: white;
}

.text-faded {
    color: rgba(255, 255, 255, 0.7);
}

section {
    padding: 100px 0;
}

.shop-template section {
    margin-top: 45px;
}

.shop-template .content section {
    margin-top: -20px;
    background-color: #795548;
}

.shop-template .product-thumb h6 {
    min-height: 88px;
    height: initial;
    font-size: 1.6rem;
}

aside {
    padding: 50px 0;
}

.no-padding {
    padding: 0;
}

.navbar-default {
    min-height: 52px;
    background-color: white;
    border: 0;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
}

.navbar-default .navbar-header .navbar-brand {
    color: #F05F40;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
    color: #eb3812;
}

.navbar-default .navbar-header .navbar-toggle {
    font-weight: 700;
    font-size: 12px;
    color: #222222;
    text-transform: uppercase;
}

.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    color: #222222;
}

.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
    color: #F05F40;
}

.navbar-default .nav > li.active > a,
.navbar-default .nav > li.active > a:focus {
    color: #F05F40 !important;
    background-color: transparent;
}

.navbar-default .nav > li.active > a:hover,
.navbar-default .nav > li.active > a:focus:hover {
    background-color: transparent;
}

@media (min-width: 768px) {
    .navbar-default {
        background-color: transparent;
        border-color: rgba(255, 255, 255, 0.3);
    }

    .navbar-default .navbar-header .navbar-brand {
        color: rgba(255, 255, 255, 0.7);
    }

    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus {
        color: white;
    }

    .navbar-default .nav > li > a,
    .navbar-default .nav > li > a:focus {
        color: rgba(255, 255, 255, 0.7);
    }

    .navbar-default .nav > li > a:hover,
    .navbar-default .nav > li > a:focus:hover {
        color: white;
    }

    .navbar-default.affix {
        background-color: white;
        border-color: rgba(34, 34, 34, 0.05);
    }

    .navbar-default.affix .navbar-header .navbar-brand {
        color: #F05F40;
    }

    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus {
        color: #eb3812;
    }

    .navbar-default.affix .nav > li > a,
    .navbar-default.affix .nav > li > a:focus {
        color: #222222;
    }

    .navbar-default.affix .nav > li > a:hover,
    .navbar-default.affix .nav > li > a:focus:hover {
        color: #F05F40;
    }
}

header {
    position: relative;
    width: 100%;
    min-height: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-image: url('https://s3.amazonaws.com/hwfd.cdn/img/header.jpg');
    text-align: center;
    color: white;
}

header .header-content {
    position: relative;
    text-align: center;
    padding: 100px 15px 100px;
    width: 100%;
}

header .header-content .logo {
    padding: 8px 0;
}

header .header-content .header-content-inner h1 {
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 30px;
}

header .header-content .header-content-inner hr {
    margin: 30px auto;
}

header .header-content .header-content-inner p {
    font-weight: 300;
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    margin-bottom: 50px;
}

@media (min-width: 768px) {
    header {
        min-height: 100%;
    }

    header .header-content {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        padding: 0 50px;
    }

    header .header-content .header-content-inner {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    header .header-content .header-content-inner h1 {
        font-size: 50px;
    }

    header .header-content .header-content-inner p {
        font-size: 18px;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

.section-heading {
    margin-top: 0;
}

.service-box {
    max-width: 400px;
    margin: 50px auto 0;
}

@media (min-width: 992px) {
    .service-box {
        margin: 20px auto 0;
    }
}

.service-box p {
    margin-bottom: 0;
}

.portfolio-box {
    position: relative;
    display: block;
    max-width: 650px;
    margin: 0 auto;
}

.portfolio-box .portfolio-box-caption {
    color: white;
    opacity: 0;
    display: block;
    background: rgba(240, 95, 64, 0.9);
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    padding: 0 15px;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 18px;
}

.portfolio-box:hover .portfolio-box-caption {
    opacity: 1;
}

.portfolio-box:focus {
    outline: none;
}

@media (min-width: 768px) {
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
        font-size: 16px;
    }

    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
        font-size: 22px;
    }
}

.call-to-action h2 {
    margin: 0 auto 20px;
}

.text-primary {
    color: #F05F40;
}

.no-gutter > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}

.btn-default {
    color: #222222;
    background-color: white;
    border-color: white;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    color: #222222;
    background-color: #f2f2f2;
    border-color: #ededed;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    background-image: none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    background-color: white;
    border-color: white;
}

.btn-default .badge {
    color: white;
    background-color: #222222;
}

.btn-primary {
    color: white;
    background-color: #F05F40;
    border-color: #F05F40;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    color: white;
    background-color: #ee4b28;
    border-color: #ed431f;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    background-color: #F05F40;
    border-color: #F05F40;
}

.btn-primary .badge {
    color: #F05F40;
    background-color: white;
}

.btn {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    border: none;
    border-radius: 300px;
    font-weight: 700;
    text-transform: uppercase;
}

.btn-xl {
    padding: 15px 30px;
}

::-moz-selection {
    color: white;
    text-shadow: none;
    background: #222222;
}

::selection {
    color: white;
    text-shadow: none;
    background: #222222;
}

img::selection {
    color: white;
    background: transparent;
}

img::-moz-selection {
    color: white;
    background: transparent;
}

body {
    webkit-tap-highlight-color: #222222;
}

.vendor-content {
    width: 100%;
}

/* shop styles */

.breadcrumb-container {
    margin-top: 56px;
}

.breadcrumb {
    background: #efeeee;
    color: #151414;
}

.breadcrumb > li + li:before {
    padding: 0 5px;
    color: #151414;
    content: "/\00a0";
}

.breadcrumb > .active {
    font-weight: 600;
    color: #151414;
}

.shop-template {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.shop-template .price {
    font-size: 2rem;
}

.shop-template .old-price {
    text-decoration: line-through;
    display: block;
    color: #8b0b0b;
    margin-bottom: 3px;
    font-size: 2rem;
}

.shop-template .form-actions {
    padding: 15px 0;
}

.shop-template .input_id_additional_instructions label {
    vertical-align: top;
}

.shop-template .help-block {
    display: none;
}

.shop-template input[type=text], .shop-template input[type=number], .shop-template select,
.shop-template input[type=email], .shop-template input[type=password] {
    padding: .5rem .75rem;
    font-size: 1.5rem;
    color: #464a4c;
    background-color: #fff;
    background-image: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
}

.bg-primary {
    padding: 19px 0 1px 0;
}

.shop-template .checkout-panel li {
    color: #151414;
}

.shop-template .thumbnail {
    border-color: #999;
}

.product-desc h1 {
    font-size: 3rem;
    padding: 0;
}

.search-highlight {
    color: #F05F40;
    font-weight: 700;
}

label {
    display: block;
}

.shop-category-list {
    margin-top: 45px;
}

.checkout-panel label, .checkout-form.label, .order-totals label {
    display: inline-block;
}

.input_id_field_3 > label {
    vertical-align: top;
}

.cart-form .quantity input {
    width: 70px !important;
    text-align: left !important;
}

.item-total-currency p {
    font-size: 2.3rem;
}

.total-price {
    color: #F05F40;
    font-weight: 600;
}

.full-page-input input:not([type='checkbox']):not([type='radio']), .full-page-input textarea {
    width: 100%;
}

a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
    border-color: #F05F40;
}

.input_id_remember {
    display: inline-block;
}

.input_id_remember label {
    display: inline;
    float: right;
    margin-left: 11px;
}

.input_id_same_billing_shipping {
    display: inline-block;
}

.input_id_same_billing_shipping label {
    display: inline;
    float: right;
    margin-left: 11px;
}

.homepage-footer .bg-dark {
    background-color: #fff;
    color: #000;
}

/* Cart */

.table {
    margin: 1em 0;
    min-width: 300px;
}

.table tr {

}

.table th {
    display: none;
}

.table td {
    display: block;
}

.table td:first-child {
    padding-top: .5em;
}

.table td:last-child {
    padding-bottom: .5em;
}

.table td:before {
    content: attr(data-th) ": ";
    font-weight: bold;
    width: 6.5em;
    display: inline-block;
}

@media (min-width: 480px) {
    .table td:before {
        display: none;
    }
}

.table th, .table td {
    text-align: left;
}

@media (min-width: 480px) {
    .table th, .table td {
        display: table-cell;
        padding: .25em .5em;
    }

    .table th:first-child, .table td:first-child {
        padding-left: 0;
    }

    .table th:last-child, .table td:last-child {
        padding-right: 0;
    }
}

.table {
    background: #fff;
    color: #000;
    border-radius: .4em;
    overflow: hidden;
}

.table tr {
    border-color: #ddd;
}

.table th, .table td {
    margin: .5em 1em;
}

@media (min-width: 480px) {
    .table th, .table td {
        padding: 1em !important;
    }
}

.table th, .table td:before {
    color: #000;
}

.cart-form .table tbody > tr > td {
    text-align: left;
}

.cart-form .table th {
    text-align: left;
}

.cart-form .form-actions {
    clear: right;
}

/* Checkout mobile */

.cart-utility input[type=checkbox] {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.cart-utility .toggle-btn {
    -webkit-appearance: push-button;
    -moz-appearance: button;
    display: inline-block;
    cursor: pointer;
}

/* Default State */
.cart-items {
    display: none;
}

/* Toggled State */
.cart-utility input[type=checkbox]:checked ~ .cart-items {
    display: block;
}

#mc_embed_signup .mc-field-group {
    vertical-align: sub;
    margin: 0 15px 0 0;
}

/* Nav */

.main-nav {
    background: #eee;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

@media (min-width: 768px) {
    .main-nav {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        border-radius: 0;
    }
}

.main-nav:after {
    clear: both;
    content: "\00a0";
    display: block;
    height: 0;
    font: 0px/0 serif;
    overflow: hidden;
}

.nav-brand {
    float: left;
    margin: 0;
}

.nav-brand a {
    display: block;
    padding: 17px 12px 12px 20px;
    color: #555;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 17px;
    text-decoration: none;
}

#main-menu {
    clear: both;
}

@media (min-width: 768px) {
    #main-menu {
        float: right;
        clear: none;
    }

    #side-nav {
        float: left;
        width: 12em;
    }
}

/* Mobile menu toggle button */

.main-menu-btn {
    float: right;
    margin: 6px 10px;
    position: relative;
    display: inline-block;
    width: 29px;
    height: 29px;
    text-indent: 29px;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* hamburger icon */

.main-menu-btn-icon,
.main-menu-btn-icon:before,
.main-menu-btn-icon:after {
    position: absolute;
    top: 50%;
    left: 2px;
    height: 2px;
    width: 24px;
    background: #555;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
}

.main-menu-btn-icon:before {
    content: '';
    top: -7px;
    left: 0;
}

.main-menu-btn-icon:after {
    content: '';
    top: 7px;
    left: 0;
}

/* x icon */

#main-menu-state:checked ~ .main-menu-btn .main-menu-btn-icon {
    height: 0;
    background: transparent;
}

#main-menu-state:checked ~ .main-menu-btn .main-menu-btn-icon:before {
    top: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#main-menu-state:checked ~ .main-menu-btn .main-menu-btn-icon:after {
    top: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* hide menu state checkbox (keep it visible to screen readers) */

#main-menu-state {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

/* hide the menu in mobile view */

#main-menu-state:not(:checked) ~ #main-menu {
    display: none;
}

#main-menu-state:checked ~ #main-menu {
    display: block;
}

@media (min-width: 768px) {
    /* hide the button in desktop view */
    .main-menu-btn {
        position: absolute;
        top: -99999px;
    }

    /* always show the menu in desktop view */
    #main-menu-state:not(:checked) ~ #main-menu {
        display: block;
    }
}

.promo {
    color: #fff;
    padding: 20px;
    text-align: center;
}

.promo.brown {
    background-color: #795548;
}

.promo .brown h3 {

}

.promo .brown p {

}

.promo.white {
    background-color: #eee;
    color: #000;
}

.promo .white h3 {

}

.promo .white p {

}

.featured .item {
    padding: 5px;
    text-align: center;
}

.featured img {
    width: 100%;
}

.slick-prev:before, .slick-next:before {
    color: #F05F40;
}

.specials .inset {
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    top: -48px;
    color: #fff;
    height: 48px;
    width: 100%;
    padding: 25px;
    display: block;
}

.specials .inset a {
    margin-top: -13px;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    text-transform: uppercase;
    color: #fff;
    display: block;
    font-size: 1.5rem;
}

.specials img {
    width: 100%;
}

.specials .slick-dots {
    margin-bottom: 35px;
}

.third-party {
    text-align: center;
    opacity: 0.4;
}

.third-party-logo {
    display: inline-block;
    vertical-align: middle;
    padding: 5px 10px;
}

.bg-subscribe {
    background-color: #795548;
    padding: 30px 0;
    color: #fff;
}

.legal p {
    font-size: 1rem;
    line-height: 0;
    margin-top: 22px;
}

.bg-subscribe .highlight {
    color: #F05F40;
}

h1 {
    font-size: 2.1rem;
    padding: 0 15px;
}

.homepage .breadcrumb-container {
    display: none;
}

.alert {
    margin-top: 56px;
}

.blog-list .blog-item {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    margin-bottom: 1.5rem;
}

.blog-list .blog-image {
    width: 100%;
    border-top-left-radius: calc(.25rem -1px);
    border-top-right-radius: calc(.25rem -1px);
}

.blog-list .blog-footer {
    padding: .75rem 1.25rem;
    background-color: rgba(0, 0, 0, .03);
    border-top: 1px solid rgba(0, 0, 0, .125);
}

.blog-list .blog-footer:last-child {
    border-radius: 0 0 calc(.25rem -1px) calc(.25rem -1px);
}

.blog-list .blog-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}

.blog-list .blog-item-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, .03);
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    font-size: 1.75rem;

    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 0;
    color: inherit;
}

.blog-list .blog-item-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}

.billboard-container{
    margin: 12px 0;
}


