{% extends "pages/page.html" %}

{% load mezzanine_tags shop_tags i18n staticfiles %}
{% block body_id %}category{% endblock %}

{% block main %}{{ block.super }}

    {% editable page.category.content %}
        {{ page.category.content|safe }}
    {% endeditable %}
    <div class="container">
        <div>

            {% if child_categories %}
                <div class="shop-category-list">
                    {% if settings.SHOP_CATEGORY_USE_FEATURED_IMAGE %}
                        {% for category in child_categories %}
                            <!-- grids -->
                            <div class="col-xs-12 col-sm-12 col-lg-3 col-md-3">
                                <a href="{{ category.get_absolute_url }}" class="thumbnail">
                                    {% if category.featured_image %}
                                        <img src="{{ MEDIA_URL }}{% thumbnail category.featured_image 260 195 %}"/>
                                    {% else %}
                                        <div class="placeholder"></div>
                                    {% endif %}
                                    <div class="caption">
                                        <h4>{{ category.title }}</h4>
                                    </div>
                                </a>
                            </div>

                        {% endfor %}
                    {% else %}
                        {% for category in child_categories %}
                            <div class="col-xs-12 col-sm-12 col-lg-3 col-md-3">
                                <a href="{{ category.get_absolute_url }}" class="thumbnail">
                                    <div class="caption"><h4>{{ category.title }}</h4></div>
                                </a>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            {% endif %}


            {% if products.paginator.count != 0 %}

                <div class="row product-list">
                    {% for product in products.object_list %}
                        {% get_specific_variant product page.category %}

                        <div class="col-xs-12 col-sm-12 col-lg-3 col-md-3 product-thumb">
                            <a href="{{ product.get_absolute_url }}" class="thumbnail">
                                {% if product.image %}
                                    <img src="{{ MEDIA_URL }}{% thumbnail product.image 260 195 %}">
                                {% else %}
                                    <div class="placeholder"></div>
                                {% endif %}
                                <div class="caption">
                                    <h6>{{ product }}</h6>

                                    <div class="price-info">
                                        {% if product.has_price %}
                                            {% if product.on_sale %}
                                                <span class="old-price">{{ product.unit_price|currency }} / sq ft</span>
                                                {% trans "On sale:" %}
                                            {% endif %}
                                            <span class="price">{{ product.price|currency }} / sq ft</span>
                                        {% else %}
                                            <span class="coming-soon">{% trans "Coming soon" %}</span>
                                        {% endif %}
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>

                {% pagination_for products %}

            {% endif %}
            </div>
        </div>
    </div>
    {% compress js %}
    <script src="{% static "js/select-variant.js" %}"></script>
     {% endcompress js %}
{% endblock %}

