{% extends "pages/page.html" %}
{% load mezzanine_tags shop_tags staticfiles cache %}

{{ block.super }}
{% load i18n %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}


{% block main %}
    <div class="container homepage">
        <div class="row">
            <div class="slider specials hidden-xs hidden-sm col-md-12">
                <div>
                    <a href="/shop/domestic-unfinished-solid-hardwood-flooring/hickory/">
                        <img src="https://s3.amazonaws.com/hwfd.cdn/img/billboard1.jpg"></a>

                    <div class="inset">
                        <span>
                            <a href="/shop/domestic-unfinished-solid-hardwood-flooring/hickory/">See the latest deals on
                                our Hickory</a>
                        </span>
                    </div>
                </div>

                <div>

                    <a href="/shop/domestic-unfinished-solid-hardwood-flooring/maple/">
                        <img src="https://s3.amazonaws.com/hwfd.cdn/img/billboard2.jpg">
                    </a>

                    <div class="inset">
                        <span>
                            <a href="/shop/domestic-unfinished-solid-hardwood-flooring/maple/">Great deals on Maple
                                Hardwood Flooring</a>
                        </span>
                    </div>
                </div>

            </div>

            <div class="visible-xs visible-sm col-md-12">
                <a href="/shop/domestic-unfinished-solid-hardwood-flooring/maple/">
                    <img src="https://s3.amazonaws.com/hwfd.cdn/img/maple_mobile.jpg" width="100%"></a>

                <div class="billboard-container">
                    <a class="btn btn-primary btn-block"
                       href="/shop/domestic-unfinished-solid-hardwood-flooring/maple/">Deals on Maple Hardwood
                        Flooring</a>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="promo brown">
                    <h2>Domestic Hardwoods</h2>

                    <p>Any Domestic Species in any Lengths &amp; Grades</p>
                    <a href="/shop/domestic-unfinished-solid-hardwood-flooring/" class="btn btn-default btn-xl">Shop
                        Now</a>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="promo white">
                    <h2>Exotic Hardwoods</h2>

                    <p>Any Exotic Species from around the world in any Grade</p>
                    <a href="/shop/exotic-prefinished-solid-hardwood-flooring/" class="btn btn-primary btn-xl">Shop
                        Now</a>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="promo brown">
                    <h2>Contractor Specials</h2>

                    <p>Hundreds of Hardwood Flooring options, at Lower than Wholesale Pricing</p>
                    <a href="/contractor-specials" class="btn btn-default btn-xl">Shop Now</a>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-xs-12 col-md-12">
                <h3>Featured Items</h3>

                <div class="slider featured">
                    <div class="item">
                        <img src="https://s3.amazonaws.com/hwfd.cdn/img/walnut.jpg">
                        <h4>Walnut</h4>
                        <a href="/shop/domestic-unfinished-solid-hardwood-flooring/walnut/" class="btn btn-primary">Shop
                            All
                            Walnut</a>
                    </div>
                    <div class="item">
                        <img src="https://s3.amazonaws.com/hwfd.cdn/img/maple.jpg">
                        <h4>Maple</h4>
                        <a href="/shop/domestic-unfinished-solid-hardwood-flooring/maple/" class="btn btn-primary">Shop
                            All
                            Maple</a>
                    </div>
                    <div class="item">
                        <img src="https://s3.amazonaws.com/hwfd.cdn/img/hickory.jpg">
                        <h4>Hickory</h4>
                        <a href="/shop/domestic-unfinished-solid-hardwood-flooring/hickory/" class="btn btn-primary">Shop
                            All Hickory</a>
                    </div>
                    <div class="item">
                        <img src="https://s3.amazonaws.com/hwfd.cdn/img/white_oak.jpg">
                        <h4>White Oak</h4>
                        <a href="/shop/domestic-unfinished-solid-hardwood-flooring/white-oak/" class="btn btn-primary">Shop
                            All White Oak</a>
                    </div>
                    <div class="item">
                        <img src="https://s3.amazonaws.com/hwfd.cdn/img/red_oak.jpg">
                        <h4>Red Oak</h4>
                        <a href="/shop/domestic-unfinished-solid-hardwood-flooring/red-oak/" class="btn btn-primary">Shop
                            All Red Oak</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-12 col-md-12">
                <h3>Recent Blog Posts</h3>

                <div class="slider recent-blogs">
                    <div class="item">
                        <img src="https://s3.amazonaws.com/hwfd.cdn/img/hardwood-floor-depot-measur.jpg">
                        <h4>How to Measure Your Room</h4>
                        <a href="/blog/how-to-measure-your-room/" class="btn btn-primary">Read Now</a>
                    </div>
                    <div class="item">
                        <img src="https://s3.amazonaws.com/hwfd.cdn/img/hardwood-floor-depot-roi-sm.jpg">
                        <h4>Return on your Investment</h4>
                        <a href="/blog/hardwood-flooring-brings-in-a-large-return-on-your-investment/" class="btn btn-primary">Read Now</a>
                    </div>
                    <div class="item">
                        <img src="https://s3.amazonaws.com/hwfd.cdn/img/hardwood-floor-depot-intro.jpg">
                        <h4>Learn before your purchase</h4>
                        <a href="/blog/12-things-to-consider-before-purchasing-your-new-hardwood-flooring/" class="btn btn-primary">Read Now</a>
                    </div>
                    <div class="item">
                        <img src="https://s3.amazonaws.com/hwfd.cdn/img/hardwood-floor-depot-sp-sm.jpg">
                        <h4>Shipping - What to Expect</h4>
                        <a href="/blog/shipping-what-to-expect/" class="btn btn-primary">Read Now</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script type="application/ld+json">
        {
        "@context":"http://schema.org",
        "@type":"ItemList",
        "itemListElement":[
        {
        "@type":"ListItem",
        "position":1,
        "url":"https://hardwoodfloordepot.com/shop/domestic-unfinished-solid-hardwood-flooring/hickory/
        },
        {
        "@type":"ListItem",
        "position":2,
        "url":"https://hardwoodfloordepot.com/shop/domestic-unfinished-solid-hardwood-flooring/maple/"
        }
        ]
        }
    </script>

{% endblock %}