{% extends "pages/page.html" %}
{% load mezzanine_tags shop_tags staticfiles cache %}

{{ block.super }}
{% load i18n %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block breadcrumb_menu %}{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="slider specials col-xs-12 col-md-12">
                <div>
                    <a href="">
                        <img src="https://s3.amazonaws.com/hwfd.cdn/img/billboard1.jpg"></a>

                    <div class="inset">
                        <span>
                            <a href="">See the latest deals on our Hickory</a>
                        </span>
                    </div>
                </div>

                <div>
                    <img src="https://s3.amazonaws.com/hwfd.cdn/img/billboard2.jpg">

                    <div class="inset">
                        <span>
                            <a href="">Great deals on Maple Hardwood Flooring</a>
                        </span>
                    </div>
                </div>

            </div>
        </div>


        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="promo brown">
                    <h2>Test 1</h2>

                    <p>15 Species Available in all Lengths and Options</p>
                    <a href="" class="btn btn-default btn-xl">Shop Now</a>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="promo white">
                    <h2>Test 1</h2>

                    <p>15 Species Available in all Lengths and Options</p>
                    <a href="" class="btn btn-primary btn-xl">Shop Now</a>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="promo brown">
                    <h2>Test 1</h2>

                    <p>15 Species Available in all Lengths and Options</p>
                    <a href="" class="btn btn-default btn-xl">Shop Now</a>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-xs-12 col-md-12">
                <h3>Featured Items</h3>

                <div class="slider featured">
                    <div class="item">
                        <img src="https://s3.amazonaws.com/hwfd.cdn/img/walnut.jpg">
                        <h4>Walnut</h4>
                        <a href="/shop/walnut/" class="btn btn-primary">Shop All Walnut</a>
                    </div>
                    <div class="item">
                        <img src="https://s3.amazonaws.com/hwfd.cdn/img/maple.jpg">
                        <h4>Maple</h4>
                        <a href="/shop/maple/" class="btn btn-primary">Shop All Maple</a>
                    </div>
                    <div class="item">
                        <img src="https://s3.amazonaws.com/hwfd.cdn/img/hickory.jpg">
                        <h4>Hickory</h4>
                        <a href="/shop/hickory/" class="btn btn-primary">Shop All Hickory</a>
                    </div>
                    <div class="item">
                        <img src="https://s3.amazonaws.com/hwfd.cdn/img/white_oak.jpg">
                        <h4>White Oak</h4>
                        <a href="/shop/white-oak/" class="btn btn-primary">Shop All White Oak</a>
                    </div>
                    <div class="item">
                        <img src="https://s3.amazonaws.com/hwfd.cdn/img/red_oak.jpg">
                        <h4>Red Oak</h4>
                        <a href="/shop/red-oak/" class="btn btn-primary">Shop All Red Oak</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}