{% load accounts_tags pages_tags shop_tags mezzanine_tags i18n staticfiles %}

<nav id="main-nav">
      <!-- Sample menu definition -->
      <ul id="main-menu" class="sm sm-clean" data-smartmenus-id="15079986374225017">
        <li> {% block navbar_title %}
            <a class="navbar-brand page-scroll" href="/">
                {% if settings.SITE_TITLE %}{{ settings.SITE_TITLE }}</a>{% endif %}
            {% endblock %}</li>
        <li><a href="http://www.smartmenus.org/about/" class="has-submenu" id="sm-15079986374225017-1" aria-haspopup="true" aria-controls="sm-15079986374225017-2" aria-expanded="false">About<span class="sub-arrow"></span></a>
          <ul id="sm-15079986374225017-2" role="group" aria-hidden="true" aria-labelledby="sm-15079986374225017-1" aria-expanded="false">
            <li><a href="http://www.smartmenus.org/about/introduction-to-smartmenus-jquery/">Introduction to SmartMenus jQuery</a></li>
            <li><a href="http://www.smartmenus.org/about/themes/">Demos + themes</a></li>
            <li><a href="http://vadikom.com/about/#vasil-dinkov">The author</a></li>
            <li><a href="http://www.smartmenus.org/about/vadikom/" class="has-submenu" id="sm-15079986374225017-3" aria-haspopup="true" aria-controls="sm-15079986374225017-4" aria-expanded="false">The company<span class="sub-arrow"></span></a>
              <ul id="sm-15079986374225017-4" role="group" aria-hidden="true" aria-labelledby="sm-15079986374225017-3" aria-expanded="false">
                <li><a href="http://vadikom.com/about/">About Vadikom</a></li>
                <li><a href="http://vadikom.com/projects/">Projects</a></li>
                <li><a href="http://vadikom.com/services/">Services</a></li>
                <li><a href="http://www.smartmenus.org/about/vadikom/privacy-policy/">Privacy policy</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li><a href="http://www.smartmenus.org/download/">Download</a></li>
        <li><a href="http://www.smartmenus.org/support/" class="has-submenu" id="sm-15079986374225017-5" aria-haspopup="true" aria-controls="sm-15079986374225017-6" aria-expanded="false">Support<span class="sub-arrow"></span></a>
          <ul id="sm-15079986374225017-6" role="group" aria-hidden="true" aria-labelledby="sm-15079986374225017-5" aria-expanded="false">
            <li><a href="http://www.smartmenus.org/support/premium-support/">Premium support</a></li>
            <li><a href="http://www.smartmenus.org/support/forums/">Forums</a></li>
          </ul>
        </li>
        <li><a href="http://www.smartmenus.org/docs/">Docs</a></li>
        <li><a href="#" class="has-submenu" id="sm-15079986374225017-7" aria-haspopup="true" aria-controls="sm-15079986374225017-8" aria-expanded="false">Sub test<span class="sub-arrow"></span></a>
          <ul id="sm-15079986374225017-8" role="group" aria-hidden="true" aria-labelledby="sm-15079986374225017-7" aria-expanded="false">
            <li><a href="#">Dummy item</a></li>
            <li><a href="#">Dummy item</a></li>
            <li><a href="#" class="disabled">Disabled menu item</a></li>
            <li><a href="#">Dummy item</a></li>
            <li><a href="#" class="has-submenu" id="sm-15079986374225017-9" aria-haspopup="true" aria-controls="sm-15079986374225017-10" aria-expanded="false">more...<span class="sub-arrow"></span></a>
              <ul id="sm-15079986374225017-10" role="group" aria-hidden="true" aria-labelledby="sm-15079986374225017-9" aria-expanded="false">
                <li><a href="#">A pretty long text to test the default subMenusMaxWidth:20em setting for the sub menus</a></li>
                <li><a href="#">Dummy item</a></li>
                <li><a href="#">Dummy item</a></li>
                <li><a href="#">Dummy item</a></li>
                <li><a href="#">Dummy item</a></li>
                <li><a href="#">Dummy item</a></li>
                <li><a href="#" class="has-submenu" id="sm-15079986374225017-11" aria-haspopup="true" aria-controls="sm-15079986374225017-12" aria-expanded="false">more...<span class="sub-arrow"></span></a>
                  <ul id="sm-15079986374225017-12" role="group" aria-hidden="true" aria-labelledby="sm-15079986374225017-11" aria-expanded="false">
                    <li><a href="#">Dummy item</a></li>
                    <li><a href="#" class="current">A 'current' class item</a></li>
                    <li><a href="#">Dummy item</a></li>
                    <li><a href="#" class="has-submenu" id="sm-15079986374225017-13" aria-haspopup="true" aria-controls="sm-15079986374225017-14" aria-expanded="false">more...<span class="sub-arrow"></span></a>
                      <ul id="sm-15079986374225017-14" role="group" aria-hidden="true" aria-labelledby="sm-15079986374225017-13" aria-expanded="false">
                        <li><a href="#">subMenusMinWidth</a></li>
                        <li><a href="#">10em</a></li>
                        <li><a href="#">forced.</a></li>
                      </ul>
                    </li>
                    <li><a href="#">Dummy item</a></li>
                    <li><a href="#">Dummy item</a></li>
                  </ul>
                </li>
                <li><a href="#">Dummy item</a></li>
                <li><a href="#">Dummy item</a></li>
                <li><a href="#">Dummy item</a></li>
                <li><a href="#">Dummy item</a></li>
                <li><a href="#">A pretty long text to test the default subMenusMaxWidth:20em setting for the sub menus</a></li>
                <li><a href="#">Dummy item</a></li>
                <li><a href="#">Dummy item</a></li>
                <li><a href="#">Dummy item</a></li>
                <li><a href="#">Dummy item</a></li>
                <li><a href="#">Dummy item</a></li>
                <li><a href="#">Dummy item</a></li>
                <li><a href="#">Dummy item</a></li>
                <li><a href="#">Dummy item</a></li>
                <li><a href="#">Dummy item</a></li>
                <li><a href="#">Dummy item</a></li>
                <li><a href="#">A pretty long text to test the default subMenusMaxWidth:20em setting for the sub menus</a></li>
                <li><a href="#">Dummy item</a></li>
                <li><a href="#">Dummy item</a></li>
                <li><a href="#">Dummy item</a></li>
                <li><a href="#">Dummy item</a></li>
                <li><a href="#">Dummy item</a></li>
                <li><a href="#">Dummy item</a></li>
                <li><a href="#">Dummy item</a></li>
                <li><a href="#">Dummy item</a></li>
                <li><a href="#">Dummy item</a></li>
                <li><a href="#">Dummy item</a></li>
                <li><a href="#">A pretty long text to test the default subMenusMaxWidth:20em setting for the sub menus</a></li>
                <li><a href="#">Dummy item</a></li>
                <li><a href="#">Dummy item</a></li>
                <li><a href="#">Dummy item</a></li>
                <li><a href="#">Dummy item</a></li>
                <li><a href="#">Dummy item</a></li>
                <li><a href="#">Dummy item</a></li>
                <li><a href="#">Dummy item</a></li>
                <li><a href="#">Dummy item</a></li>
                <li><a href="#">Dummy item</a></li>
                <li><a href="#">Dummy item</a></li>
                <li><a href="#">A pretty long text to test the default subMenusMaxWidth:20em setting for the sub menus</a></li>
                <li><a href="#">Dummy item</a></li>
                <li><a href="#">Dummy item</a></li>
                <li><a href="#">Dummy item</a></li>
                <li><a href="#">Dummy item</a></li>
                <li><a href="#">Dummy item</a></li>
                <li><a href="#">Dummy item</a></li>
                <li><a href="#">Dummy item</a></li>
                <li><a href="#">Dummy item</a></li>
                <li><a href="#">Dummy item</a></li>
                <li><a href="#">Dummy item</a></li>
                <li><a href="#">A pretty long text to test the default subMenusMaxWidth:20em setting for the sub menus</a></li>
                <li><a href="#">Dummy item</a></li>
                <li><a href="#">Dummy item</a></li>
                <li><a href="#">Dummy item</a></li>
                <li><a href="#">Dummy item</a></li>
                <li><a href="#">Dummy item</a></li>
                <li><a href="#">Dummy item</a></li>
                <li><a href="#">Dummy item</a></li>
                <li><a href="#">Dummy item</a></li>
                <li><a href="#">Dummy item</a></li>
                <li><a href="#">Dummy item</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li><a href="#" class="has-submenu" id="sm-15079986374225017-15" aria-haspopup="true" aria-controls="sm-15079986374225017-16" aria-expanded="false">Mega menu<span class="sub-arrow"></span></a>
          <ul class="mega-menu" id="sm-15079986374225017-16" role="group" aria-hidden="true" aria-labelledby="sm-15079986374225017-15" aria-expanded="false">
            <li>
              <!-- The mega drop down contents -->
              <div style="width:400px;max-width:100%;">
                <div style="padding:5px 24px;">
                  <p>This is a mega drop down test. Just set the "mega-menu" class to the parent UL element to inform the SmartMenus script. It can contain <strong>any HTML</strong>.</p>
                  <p>Just style the contents as you like (you may need to reset some SmartMenus inherited styles - e.g. for lists, links, etc.)</p>
                </div>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </nav>



<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a class="page-scroll" href="/about/">About</a>
        </li>

        <li>
            <a class="page-scroll" href="/shop/">Products</a>
        </li>

        <li>
            <a class="page-scroll" href="/contact/">Contact</a>
        </li>

        {% if request.user.is_authenticated %}

            <li>
                <a href="/accounts/update/">{% trans "Account" %}</a>

            </li>
        {% else %}
            <li>

                <a href="/accounts/login/">{% trans "Login" %}</a>

            </li>
        {% endif %}

        <li>
            <a href="{% url "shop_cart" %}">{% blocktrans count request.cart.total_quantity as cart_quantity %}cart <span class="search-highlight">1</span>{% plural %} cart <span class="search-highlight">{{ cart_quantity }}</span>{% endblocktrans %} </a>

        </li>
        <li> {% block navbar_search_form %}{% search_form "all" %}{% endblock %}</li>
    </ul>
</div>
